# Data Science Tools and Ecosystem

#### In this notebook, Data Science Tools and Ecosystem are summarized

###### Some of the popular languages that Data Scientists use are:
1. PYTHON
2. JAVA
3. JULIA
4. SCALA
5. SQL

###### Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib
4. Seaborn
5. Plotly

| Data Science Tools |
|--------------------|
| Jupyter Notebooks |
| R Studioâ€™s |
| Pandas |
| Hadoop  |
| Orange |

### Below are a few examples of evaluating arithmetic expressions in Python
2+3,
5-2,
8/4,
2*6,

In [4]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

**Objectives:**
- PYTHON
- JAVA
- JULIA
- SCALA
- SQL

## Author
Muhamed Riyas